{% extends 'product/layout_product.html.twig' %}

{% block body %}
<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Example</div>
          <a href="{{ path('add_product')}}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter un produit</a>
        
              {% include 'incs/product_list.html.twig' with { 'products' : products, 'routeName' : 'home_paginated' } %}
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
{% endblock %}


